.video-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adds spacing between videos */
  padding: 24px;
  margin-top: 20px;
}

.video-div {
  width: 48%;
}

.videoPage {
  background-image: url("../../assets/video.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  position: absolute;
  width: 100vw;
}
